* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
}

address {
  font-style: normal;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.4375rem;
  z-index: 1;
}

.site-header__logo {
  color: #335576;
  font-weight: bold;
}

.main-nav__list {
  display: flex;
}

.main-nav__link {
  padding: 0.5rem 0;
  margin-left: 1.25rem;
  color: black;
}

.main-nav__link--active {
  border-bottom: 0.125rem solid #db7a4e;
}

.site-header,
.hero-banner,
.site-footer {
  padding: 0 5.625rem;
}

.site-main {
  display: flex;
  justify-content: center;
}

.site-footer {
  background: #fefaf5;
}

.footer-list {
  padding: 2.75rem 8.125rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.footer-item--big {
  height: 5.3125rem;
}
.footer-item--small {
  height: 2.5rem;
}
.footer-item--row {
  flex-direction: row;
}
.footer-item__title {
  color: #335576;
}
.footer-item__subtitle {
  color: #db7a4e;
  font-size: 0.625rem;
  font-weight: normal;
  text-transform: uppercase;
}
.footer-item__text {
  color: #335576;
  font-size: 0.875rem;
}

.footer-item--hours {
  width: 24.1875rem;
}
.footer-item--social {
  width: 7.8125rem;
}

.footer-item__icon {
  height: 1.5625rem;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-grow: 1;
  flex-shrink: 0;
}
