.hero-banner {
  background-color: #fefaf5;
  margin-top: 3.4375rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-banner__left {
  width: 34.6875rem;
  color: #335576;
  /* flex-grow: 0; */
}
.hero-banner__title {
  font-size: 2.125rem;
  padding-bottom: 2.5rem;
  padding-top: 6.25rem;
}

.hero-banner__text {
  font-size: 0.9375rem;
}
.hero-banner__link {
  background-color: #db7a4e;
  color: white;
  padding: 0.5rem 2.75rem;
  border-radius: 1.375rem;
  margin-top: 2rem;
}
.hero-banner__right {
  width: 27.0625rem;
  height: 30rem;
  flex-shrink: 0;
  background: center / contain no-repeat url("../assets/images/hero.png");
}
.recommendations {
  padding: 0 5.625rem;
}
.recommendations__title {
  padding-top: 2.5rem;
  color: #335576;
}

.card-list-recommendations__list {
  padding: 1.875rem 8.125rem 4.375rem;
  gap: 36px;
}

.card-recommendations__link {
  position: relative;
  flex-basis: 255px;
}

.card__image {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.card__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 55, 75, 0.5);
  z-index: 1;
}

.card__overlay:hover {
  opacity: 1;
}

.card__title {
  color: white;
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
}
